:root {
  --sodc-red: #770800;
  --sodc-blue: #112244;
  --success-bg: #ddeeff;
  --success: #112244;
}

body {
  background: #363537;
  color: #FAFAFA;
}

.bg-app-primary {
  background-color: var(--sodc-red) !important;
  color: #fff !important;
}

.bg-app-secondary {
  background-color: var(--sodc-blue) !important;
  color: #fff !important;
}

.spinner {
  color: var(--sodc-red) !important;
}

.loading {
  height: 10em;
}


.App {

}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
